html, body {
    height: 100%;
    background: rgb(60,14,14);
    background: -moz-linear-gradient(20deg, rgba(60,14,14,1) 20%, rgba(255,255,255,1) 75%, rgba(242,239,239,1) 100%);
    background: -webkit-linear-gradient(20deg, rgba(60,14,14,1) 20%, rgba(255,255,255,1) 75%, rgba(242,239,239,1) 100%);
    background: linear-gradient(20deg, rgba(60,14,14,1) 20%, rgba(255,255,255,1) 75%, rgba(242,239,239,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3c0e0e",endColorstr="#f2efef",GradientType=1);
}

.form-register {
    max-width: 330px;
    padding: 1rem;
}

.form-register .form-floating:focus-within {
    z-index: 2;
}

.form-register input[type="email"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-register input[type="password"] {
    margin-bottom: -1px;
    border-radius: 0;
}

#floatingPassword2 {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}