html, body {
    height: 100%;
}

#error_header {
    width: 1000px;
    margin: 0 auto;
}

.form-register {
    max-width: 330px;
    padding: 1rem;
}

.form-register input, .form-register button,
.form-register label {
    max-width: 280px;
    margin-left: 3%;
}

main {
    background: #3c0e0e;
    border-radius: 20px;
    width: 70vh
}

.form-register .form-floating:focus-within {
    z-index: 2;
}

.form-register input[type="email"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-register input[type="text"] {
    margin: -1px;
    border-radius: 0;
    margin-left: 3%;
}

.form-register input[type="password"] {
    margin-bottom: -1px;
    border-radius: 0;
}

.form-register button {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}